<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="CMemvit.MemVis"
            class="ru.innopolis.lips.memvit.view.BrowserView"
            icon="icons/sample.gif"
            id="CMemvit.BrowserView"
            name="%view.name.3"
            restorable="true">
      </view>
      <category
            id="CMemvit.MemVis"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="CMemvit.BrowserView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="plugin2.views.CDebugger"
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            class="ru.innopolis.lips.memvit.plugin.GDBCDIDebuggerMemvit"
            cpu="*"
            id="GDBCDIDebuggerMemvit"
            modes="run,core,attach"
            name="CDebugger"
            platform="*">
      </debugger>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ru.innopolis.lips.memvit.plugin.ConfigurationDelegate"
            id="Plugin_MemoryVisualization.launchConfigurationType"
            modes="debug"
            name="%launchConfigurationType.name"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ru.innopolis.lips.memvit.plugin.MemvitConfigurationTabGroup"
            id="Plugin_MemoryVisualization.LipsTypeGroup"
            type="Plugin_MemoryVisualization.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
